/* Styling for the body */
body {
  background-color: rgba(0, 128, 255);
  font-family: Arial, sans-serif;
}

/* Styling for all the buttons */
button {
  display: block;
  margin: auto;
}

/* Styling for the second button */
.button2 {
  color: beige;
  background: orange;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  transition: all .2s;
  margin-bottom: 20px;
}

/* Styling for the second button when hovering over it */
.button2:hover {
  text-shadow: 0px 0px 5px rgb(253, 250, 149);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 1);
  background: darkorange;
}
